<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate text</title>
    <link rel="stylesheet" href="/src/css/generate-text.css"/>
</head>
<body>
    <p><a href="/src/index.html">Go back</a></p>
    <div class="generateName">
    <p class="textBlock odd O">
        <span class="itemText one">J</span>
        <span class="itemText two">H</span>
        <span class="itemText three">L</span>
        <span class="itemText four">H</span>
        <span class="itemText five">F</span>
        <span class="itemText six">M</span>
        <span class="itemText seven">D</span>
        <span class="itemText eight">U</span>
        <span class="itemText nine">R</span>
        <span class="itemText ten">O</span>
    </p>
    <p class="textBlock even K">
        <span class="itemText one">J</span>
        <span class="itemText two">H</span>
        <span class="itemText three">L</span>
        <span class="itemText four">H</span>
        <span class="itemText five">F</span>
        <span class="itemText six">M</span>
        <span class="itemText seven">D</span>
        <span class="itemText eight">U</span>
        <span class="itemText nine">R</span>
        <span class="itemText ten">K</span>
    </p>
    <p class="textBlock odd S">
        <span class="itemText one">D</span>
        <span class="itemText two">Y</span>
        <span class="itemText three">O</span>
        <span class="itemText four">W</span>
        <span class="itemText five">P</span>
        <span class="itemText six">K</span>
        <span class="itemText seven">Q</span>
        <span class="itemText eight">A</span>
        <span class="itemText nine">N</span>
        <span class="itemText ten">S</span>
    </p>
    <p class="textBlock even A">
        <span class="itemText one">K</span>
        <span class="itemText two">S</span>
        <span class="itemText three">N</span>
        <span class="itemText four">C</span>
        <span class="itemText five">X</span>
        <span class="itemText six">I</span>
        <span class="itemText seven">T</span>
        <span class="itemText eight">E</span>
        <span class="itemText nine">F</span>
        <span class="itemText ten">A</span>
    </p>
    <p class="textBlock odd N">
        <span class="itemText one">J</span>
        <span class="itemText two">K</span>
        <span class="itemText three">L</span>
        <span class="itemText four">M</span>
        <span class="itemText five">W</span>
        <span class="itemText six">M</span>
        <span class="itemText seven">U</span>
        <span class="itemText eight">R</span>
        <span class="itemText nine">M</span>
        <span class="itemText ten">N</span>
    </p>
    <p class="textBlock even nextA">
        <span class="itemText one">N</span>
        <span class="itemText two">H</span>
        <span class="itemText three">M</span>
        <span class="itemText four">U</span>
        <span class="itemText five">F</span>
        <span class="itemText six">P</span>
        <span class="itemText seven">D</span>
        <span class="itemText eight">Y</span>
        <span class="itemText nine">Q</span>
        <span class="itemText ten">A</span>
    </p>
</div>
<div class="lineBeforeBox">
    <h2 class="line">Animation before line</h2>
</div>
<!-- apearence name -->
<div class="wrapperName">
<div class="apearenceName">
    <p class="textBox first">
        <span class="letter one">O</span>
        <span class="letter two">O</span>
        <span class="letter three">O</span>
    </p>
    <p class="textBox second">
        <span class="letter one">K</span>
        <span class="letter two">K</span>
        <span class="letter three">K</span>
    </p>
    <p class="textBox third">
        <span class="letter one">S</span>
        <span class="letter two">S</span>
        <span class="letter three">S</span>
    </p>
</div>
</div>
<script src="/src/js/generate-text.js"></script>
</body>
</html>