<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read more...</title>
    <link rel="stylesheet" href="/src/css/readMoreStyles.css" />
</head>
<body>
    <p><a href="/src/index.html">Go back</a></p>
    <div class="container">
        <div class="boxCard" id="1">
            <img class="imgCard" src="/src/images/lion.jpeg" />
            <p class="cardText">Lorem ipsum dolor, fdhgfgjhlkjlkjlklkl;,vhjghjhjkn sit amet consecteTemporibus quia quo officiis animi,
                <span class="dotsCard">...</span>
                <span class="additionalText">
                    hic eligendi illum  dicta? Ipsum aliquid reiciepudiandae hic necessitatibus, consectetur vero
                </span>
                <span class="btnReadMore" type="button">read more</span>
            </p> 
        </div>
        <div class="boxCard" id="2">
            <img class="imgCard" src="/src/images/lion.jpeg" />
            <p class="cardText">Lorem ipsum dolor, fdhgfgjhlkjlkjlklkl;,vhjghjhjkn sit amet consecteTemporibus quia quo officiis animi,
                <span class="dotsCard">...</span>
                <span class="additionalText">
                    hic eligendi illum  dicta? Ipsum aliquid reiciepudiandae hic necessitatibus, consectetur vero
                </span>
                <span class="btnReadMore" type="button">read more</span>
            </p>
            
        </div>
        <div class="boxCard" id="3">
            <img class="imgCard" src="/src/images/lion.jpeg" />
            <p class="cardText">Lorem ipsum dolor, fdhgfgjhlkjlkjlklkl;,vhjghjhjkn sit amet consecteTemporibus quia quo officiis animi,
                <span class="dotsCard">...</span>
                <span class="additionalText">
                    hic eligendi illum  dicta? Ipsum aliquid reiciepudiandae hic necessitatibus, consectetur vero
                </span>
                <span class="btnReadMore" type="button">read more</span>
            </p>
            
        </div>
        <div class="boxCard" id="4">
            <img class="imgCard" src="/src/images/lion.jpeg" />
            <p class="cardText">Lorem ipsum dolor, fdhgfgjhlkjlkjlklkl;,vhjghjhjkn sit amet consecteTemporibus quia quo officiis animi,
                <span class="dotsCard">...</span>
                <span class="additionalText">
                    hic eligendi illum  dicta? Ipsum aliquid reiciepudiandae hic necessitatibus, consectetur vero
                </span>
                <span class="btnReadMore" type="button">read more</span>
            </p>
            
        </div>
        <div class="boxCard" id="5">
            <img class="imgCard" src="/src/images/lion.jpeg" />
            <p class="cardText">Lorem ipsum dolor, fdhgfgjhlkjlkjlklkl;,vhjghjhjkn sit amet consecteTemporibus quia quo officiis animi,
                <span class="dotsCard">...</span>
                <span class="additionalText">
                    hic eligendi illum  dicta? Ipsum aliquid reiciepudiandae hic necessitatibus, consectetur vero
                </span>
                <span class="btnReadMore" type="button">read more</span>
            </p>
            
        </div>
        <div class="boxCard" id="6">
            <img class="imgCard" src="/src/images/lion.jpeg" />
            <p class="cardText">Lorem ipsum dolor, fdhgfgjhlkjlkjlklkl;,vhjghjhjkn sit amet consecteTemporibus quia quo officiis animi,
                <span class="dotsCard">...</span>
                <span class="additionalText">
                    hic eligendi illum  dicta? Ipsum aliquid reiciepudiandae hic necessitatibus, consectetur vero
                </span>
                <span class="btnReadMore" type="button">read more</span>
            </p>
            
        </div>
    </div>
    <script src="/src/js/read-more.js"></script>
</body>
</html>