* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #212121;
    line-height: 1.5;
  }

/* carusel */

.caruselBox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 350px;
    outline: 1px solid black;
  }
  #prevImg,
  #nextImg {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;

  }
  #prevImg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  #nextImg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
   }
  .icon {
    display: inline-block;
    stroke-width: 1px;
    stroke: black;
    fill: rebeccapurple;
    cursor: pointer;
  }
  .elem {
    width: 100%;
    display: none;
    outline: 1px solid rgb(186, 178, 178);
  }
  .active {
    width: 100%;
    display: block;
  }
  .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  /* styles dots */
  .dotsBox {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .dotsList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .dotImg {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #212121;
    color: wheat;
  }
  .active-dot {
    background-color: lawngreen;
  }

  /* carusel with translate */
  .caruselBoxSecond {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 350px;
    outline: 1px solid black;
    overflow: hidden;
  }

  .item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all ease 1s;
  }
  #prevImgSecond {
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 50;
  }
  #nextImgSecond {
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 50;
  }

