* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
}
.container {
  width: 1200px;
  height: 300px;
  background-color: #0a0a0a;
}
img {
  display: block;
  max-width: 100%;
}

.timer {
  margin-top: 10px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.field {
  margin-right: 10px;
  padding: 2px;
 display: flex;
 flex-direction: column;
 align-items: center;
 outline: 1px solid black;
}
.value {
  font-size: 36px;
  color: #ff0000;
  text-shadow: 2px 2px 2px #000000;
}
.label {
  font-weight: 500;
  text-shadow: 1px 1px 1px #ffffff;
}

/* timer in circles */

.time {
  display: flex;
  gap: 10px;

}
.circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
.circle svg circle {
  width: 100%;
  height: 100%;
  fill: antiquewhite;
  stroke-width: 8px;
  stroke: rgb(77, 77, 79);
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.circle svg circle:nth-child(2) {
  stroke: var(--crl);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
#days,
#hours,
#minutes,
#seconds {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
.dot {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.dot::before {
  position: absolute;
  top: -3px;
  left: 68px;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffee07;
  box-shadow: 0 0 10px greenyellow;
}

/* svg animate */

rect,
#rectangle,
circle,
ellipse,
line,
polyline,
polygon,
#path-line {
  animation: active-path;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  /* stroke-dasharray: 50;
  stroke-dashoffset: 50; */
}

@keyframes active-path {
  100% {
    stroke: aqua;
    stroke-dashoffset: 0;
  }
  
}

/* carusel */

.caruselBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 350px;
  outline: 1px solid black;
}
#prevImg,
#nextImg {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
#prevImg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}
#nextImg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
 }
.icon {
  display: inline-block;
  stroke-width: 1px;
  stroke: black;
  fill: rebeccapurple;
  cursor: pointer;
}
.elem {
  width: 100%;
  display: none;
}
.active {
  width: 100%;
  display: block;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elemOne {
  background-color: #ffee07;
  outline: 1px solid black;
}
.elemTwo {
  background-color: aqua;
  outline: 1px solid black;
}
.elemThree {
  background-color: peru;
  outline: 1px solid black;
}
.elemFour {
  background-color: lawngreen;
  outline: 1px solid black;
}

/* styles dots */
.dotsBox {
  position: absolute;
  bottom: 10px;
}
.dotsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #212121;
  color: wheat;
}
.active-dot {
  background-color: lawngreen;
}

/* Read more... */
